parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropForeignKeyIfExists\\(\\)\\.$#"
			count: 4
			path: database/migrations/2022_06_30_010000_drop_foreign_key_constraints.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropIndexIfExists\\(\\)\\.$#"
			count: 4
			path: database/migrations/2022_06_30_010000_drop_foreign_key_constraints.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$staff_group_id\\.$#"
			count: 1
			path: src/AutomationRules/Actions/AssignToGroup.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Models\\\\UserGroup\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/AutomationRules/Actions/AssignToGroup.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$custom\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendMailTemplate.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$customer_group\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendMailTemplate.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$send_to\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendMailTemplate.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$staff_group\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendMailTemplate.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$template\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendMailTemplate.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Models\\\\MailTemplate\\:\\:dropdown\\(\\)\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendMailTemplate.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Models\\\\CustomerGroup\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendMailTemplate.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Models\\\\User\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendMailTemplate.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Models\\\\UserGroup\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendMailTemplate.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Mail\\:\\:sendToMany\\(\\)\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendMailTemplate.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed Class name or object\\)\\: Unexpected token \"Class\", expected variable at offset 108$#"
			count: 1
			path: src/Classes/BaseEvent.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$operator\\.$#"
			count: 1
			path: src/Classes/BaseModelAttributesCondition.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Models\\\\Order\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Classes/EventManager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Classes/EventManager.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Event\\:\\:fire\\(\\)\\.$#"
			count: 2
			path: src/Classes/EventManager.php

		-
			message: "#^Static call to instance method stdClass\\:\\:makeParamsFromEvent\\(\\)\\.$#"
			count: 1
			path: src/Classes/EventManager.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Classes/EventManager.php

		-
			message: "#^Call to an undefined method Igniter\\\\Automation\\\\Models\\\\RuleAction\\:\\:getFieldConfig\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Cannot call method hourly\\(\\) on null\\.$#"
			count: 2
			path: src/Extension.php

		-
			message: "#^Result of method Illuminate\\\\Console\\\\Scheduling\\\\CallbackEvent\\:\\:runInBackground\\(\\) \\(void\\) is used\\.$#"
			count: 2
			path: src/Extension.php

		-
			message: "#^Call to an undefined method Igniter\\\\Admin\\\\Classes\\\\BaseWidget\\:\\:getField\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Automations.php

		-
			message: "#^Call to an undefined method Igniter\\\\Admin\\\\Classes\\\\BaseWidget\\:\\:renderField\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Automations.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Automations.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationLog\\:\\:\\$action\\.$#"
			count: 1
			path: src/Models/AutomationLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationLog\\:\\:\\$automation_rule_id\\.$#"
			count: 2
			path: src/Models/AutomationLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationLog\\:\\:\\$created_at\\.$#"
			count: 1
			path: src/Models/AutomationLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationLog\\:\\:\\$exception\\.$#"
			count: 1
			path: src/Models/AutomationLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationLog\\:\\:\\$is_success\\.$#"
			count: 2
			path: src/Models/AutomationLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationLog\\:\\:\\$message\\.$#"
			count: 1
			path: src/Models/AutomationLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationLog\\:\\:\\$params\\.$#"
			count: 1
			path: src/Models/AutomationLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationLog\\:\\:\\$rule_action_id\\.$#"
			count: 2
			path: src/Models/AutomationLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\RuleAction\\:\\:\\$automation_rule_id\\.$#"
			count: 1
			path: src/Models/AutomationLog.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Models/AutomationLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationRule\\:\\:\\$actions\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationRule\\:\\:\\$code\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationRule\\:\\:\\$conditions\\.$#"
			count: 2
			path: src/Models/AutomationRule.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationRule\\:\\:\\$event_class\\.$#"
			count: 4
			path: src/Models/AutomationRule.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationRule\\:\\:\\$is_custom\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationRule\\:\\:\\$name\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\AutomationRule\\:\\:\\$status\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\RuleAction\\:\\:\\$automation_rule_id\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\RuleAction\\:\\:\\$class_name\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\RuleCondition\\:\\:\\$automation_rule_id\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\RuleCondition\\:\\:\\$class_name\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\RuleCondition\\:\\:\\$options\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Binary operation \"\\.\" between array and ' \\- ' results in an error\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Automation\\\\Models\\\\AutomationRule\\:\\:applyStatus\\(\\)\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Automation\\\\Models\\\\AutomationRule\\:\\:pluck\\(\\)\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Automation\\\\Models\\\\AutomationRule\\:\\:whereName\\(\\)\\.$#"
			count: 1
			path: src/Models/AutomationRule.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\RuleAction\\:\\:\\$class_name\\.$#"
			count: 3
			path: src/Models/RuleAction.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\RuleAction\\:\\:\\$options\\.$#"
			count: 2
			path: src/Models/RuleAction.php

		-
			message: "#^Access to an undefined property Igniter\\\\Automation\\\\Models\\\\RuleCondition\\:\\:\\$class_name\\.$#"
			count: 3
			path: src/Models/RuleCondition.php
